.attendance-page {
  margin: var(--mg-10);

  table {
    width: 100%;
    border-collapse: collapse;
    counter-reset: rowNumber 1;
  }
  th,
  td {
    padding: 8px;
    border: 1px solid #dee2e6;
  }
  th {
    height: 40px;
    text-align: left;
  }

  nav {
    display: flex;
    justify-content: space-evenly;
  }

  table tr:not(:first-child) {
    counter-increment: rowNumber;
  }

  table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
  }
}
