.member-birthdate {
  height: 260px;
  margin: 40px 170px 70px;
  text-align: center;
  background: #ffdeeb;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 3;
  position: relative;
  @media (max-width: 480px) {
    // height: 240px;
    padding: 10px 4px;
    margin: 30px 10px;
  }
  .mantine-HoverCard-dropdown {
    padding: 8px 2px;
    a {
      color: #000;
    }
  }
  .mantine-Stack-root {
    line-height: 2;
    text-align: left;
  }
}
