.group-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  padding: 10px 20px;
  color: #fff;
  font-size: 20px;
  width: 100%;
}
.group-info {
  margin-bottom: 10px;
}
.group-button {
 ion-icon{
  padding-right: 6px;
  font-size: 1.2rem;
  transform: translateY(-5%);
 }
}