.group-wrapper {
  display: flex;
  align-items: center;
  font-weight: 400;
  padding: 10px 20px;
  color: #000;
  font-size: 18px;
  width: 100%;
  background-color: #fff;
  margin: 40px auto;
  max-width: 1292px;
}
.group-info {
  line-height: 1.6;
  margin: 10px auto;
  text-align: center;
  span {
    font-size: 28px;
    margin-right: 16px;
    color: #a61e4d;
    @media (max-width: 480px) {
      font-size: 22px;
    }
  }
}
