.group-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// .group-info {
//   margin-top: var(--mg-10);
// }
.group-button {
 ion-icon{
  padding-right: 6px;
  font-size: 1.2rem;
  transform: translateY(-5%);
 }
}