.recentActivity-wrapper {
  display: flex;
  // column-gap: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 30px;
  box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  justify-content: flex-start;
  background: linear-gradient(to right, #373A40, #2C2E33);
  .mantine-Group-root {
    color: #fff;
    padding: 10px 10px;
    border-radius: 10px;
  }
  table {
    border-collapse: collapse;
    margin: 0 auto;

    tr:not(:last-child) {
      border-bottom: 1px solid #919396;
      border-radius: 10px;
    }
  }
  tr {

    th:not(:first-child),
    td:not(:first-child) {
      font-size: 16px;
      text-align: center;
    }
    td:first-child, th:first-child{
      border-top-left-radius: 10px;
      border-bottom-left-radius:10px;
    }
    td:last-child, th:last-child{
      border-top-right-radius: 10px;
      border-bottom-right-radius:10px;
    }
    &:hover {
      background: #101113;
    }
  }
  tr {
    th {
      font-size: 20px;
      padding: 20px 40px;
      color: #fff;
    }
  }
  img {
    object-fit: cover;
  }
  .Present {
    color: #fff;
  }
  .Absent {
    color: red;
  }
}

@media (max-width: 1024px) {
  .recentActivity-wrapper {
    padding: 6px 0;
    margin-bottom: 0;
    tr {
      th {
        font-size: 20px;
        padding: 20px 20px;
      }
    }
    tr:first-child {
      font-size: 14px;
      padding: 1px;
    }
  }
}
@media (max-width: 480px) {
  .recentActivity-wrapper {
    .mantine-Group-root {
      padding: 10px 4px;
    }
    table {
      th:not(:first-child),
      td:not(:first-child) {
        font-size: 10px;
      }
      p {
        font-size: 10px;
      }
    }
    tr {
      th {
        font-size: 12px;
        padding: 8px 1px;
      }
    }
    img {
      width: 36px;
      height: 36px;
    }
  }
}
