.groups-wrapper {
  width: auto;
  margin: 20px 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  @media (max-width: 768px) {
    margin: 20px 20px;
  }

  .groups-info{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px 0px;
    margin-bottom: 20px;
    width: 100%;
    @media (max-width: 1266px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 480px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .groups-item {
    position: relative;
    display:flex;
    background: #25262b;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    align-items: center;
    padding: 10px;
    min-height: 260px;
    min-width: 350px;
    margin-bottom: 30px;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #5C5F66;
    line-height: 2;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .6);
    transition: ease-in-out .3s;
    &:hover {
      border-color: var(--color-primary);
      cursor: pointer;
      transform: scale(1.015);
    }
    span{
      font-size: 36px;
      font-weight: 500;
      margin-left: 10px;
    }
    p{
      display: inline-block;
      margin-right: 8px;
      font-weight: 400;
      font-size: 20px;
    }
    ion-icon {
      position: absolute;
      top: 10px;
      right: 8px;
      font-size: 20px;
      border-radius: 50%;
      padding: 8px;
      display: block;
      background: #25262b;
      color: #25262b;
      &.hovered {
        color: #fff;
      }
      &:hover {
        background: #373A40;
      }
    }
  }
}
