.groups-wrapper {
  width: auto;
  margin: 20px 100px;
  height: auto;
  background-color: #5C5F66;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding: 20px 30px;

  @media (max-width: 768px) {
    padding: 10px 10px;
    margin: 20px 10px;
  }

  .groups-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    ion-icon {
      padding-right: 4px;
      transform: translateY(-4%);
    }
  }

  table {
    width: 100%;
    counter-reset: rowNumber 1;
    border-collapse: separate;
    border-spacing: 0;
    flex: 1;
    box-shadow: 0 4px 2px -2px gray;
  }
  // table tr:first-child th:first-child {
  //   border-top-left-radius: 12px;
  // }
  // table tr:first-child th:last-child {
  //   border-top-right-radius: 12px;
  // }
  table tr:not(:first-child) {
    counter-increment: rowNumber;
  }

  table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
  }

  th,
  td {
    padding: 8px;
    border: 1px solid #dee2e6;
  }
  th {
    // font-family: 'Dancing Script', cursive;
    font-weight: 300;
    // font-size: 1rem;
    // height: 40px;
    text-align: left;
    background-color: var(--bg-active);
    // background-color: #373A40;
    // color: #fff;
    @media (min-width: 480px) {
      font-size: 1.4rem;
    }
  }
  tbody {
    tr {
      line-height: 2.4rem;
      @media (max-width: 550px) {
        line-height: normal;
      }
    }
  }
  tr {
    &:nth-child(2n) {
      background-color: #f2f2f2;
    }
    &:nth-child(2n + 1) {
      background-color: #fff;
    }
    th,
    td:nth-last-child(2) {
      border-right: none;
    }
    th,
    td:last-child {
      border-left: none;
    }
  }

  nav {
    display: flex;
    justify-content: space-evenly;
  }
  nav:last-child {
    ion-icon {
      border-radius: 50%;
      background-color: transparent;
      padding-right: 2px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .groups-pagination {
    height: 40px;
    width: 100%;
    margin-top: 20px;
    // bottom: 0;
    // position: absolute;
    button {
      font-family: 'Dancing Script', cursive;
      border: 0.5px solid #ced4da;
    }
  }
}
