.header-wrapper {
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  padding-left: 94px;
  box-shadow: rgb(148 148 148 / 30%) 0 2px 6px;
  background-color: #fff;
}
.header-logo {
  position: relative;
  height: 100%;
  padding: 8px 0;
  img {
    height: 100%;
  }
}

.header-search {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: var(--search-width);
  height: 46px;
  margin-left: 205px;
  padding-left: 10px;
  background: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-border-radius);
  border: 1.5px solid transparent;

  input {
    flex: 1;
    font-size: 1.2rem;
    line-height: 22px;
    height: 100%;
    padding-right: 30px;
    background-color: transparent;
  }

  input:not(:placeholder-shown) ~ .search-btn ion-icon {
    color: rgb(22, 24, 35, 0.9);
  }

  &:focus-within {
    border-color: rgba(22, 24, 35, 0.25);
  }

  &::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(22, 24, 35, 0.12);
    right: var(--search-btn-width);
  }
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--search-btn-width);
  height: 100%;
  border: 1.5px solid transparent;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  ion-icon {
    color: rgba(22, 24, 35, 0.3);
    position: absolute;
    font-size: 1.8rem;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  &:hover {
    cursor: pointer;
    background: rgba(22, 24, 35, 0.06);
  }

  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}

.search-clear {
  position: absolute;
  font-size: 1.4rem;
  right: calc(var(--search-btn-width) + 16px);
  top: 50%;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.34);
}

.header-login {
  padding-right: var(--pd-30);

  button {
    font-size: 2rem;
    background-color: #f2f2f2;
    border-radius: var(--br-5);
    padding: var(--pd-5);
    &:hover {
      cursor: pointer;
      background: var(--bg-hover);
    }
  }
}
