.header-wrapper {
  --search-border-radius: 20px;
  --search-btn-width: 40px;
  --search-width: 500px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 10px;
  box-shadow: 0px 1px 1px rgba(3, 15, 26, 0.089);
}
.header-logo {
  position: relative;
  height: 100%;
  padding: 8px;
  img {
    height: 100%;
  }
}

.header-search {
  display: flex;
  position: relative;
  width: var(--search-width);
  height: 46px;
  padding-left: 16px;
  background: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-border-radius);
  border: 1.5px solid transparent;

  input {
    flex: 1;
    // color: var(--black);
    line-height: 22px;
    height: 100%;
    padding-right: 30px;
    font-size: 1.4rem;
    // caret-color: var(--primary);
    background-color: transparent;
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
  }

  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }

  &::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(22, 24, 35, 0.12);
    right: var(--search-btn-width);
  }
}

.search-btn {
  width: var(--search-btn-width);
  height: 100%;
  font-size: 1.6rem;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  color: rgba(22, 24, 35, 0.34);

  &:hover {
    cursor: pointer;
    background: var(--background-hover);
}

  &:active {
    background-color: rgba(22, 24, 35, 0.06);
}
}

.search-clear {
    position: absolute;
    font-size: 1.4rem;
    right: calc(var(--search-btn-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.header-login {
  padding-right: 16px;


  button {
    font-size: 2.4rem;
    background-color: rgb(235, 184, 184);
    border-radius: var(--br-5);

    &:hover {
      cursor: pointer;
      background: var(--background-hover);
    }
  }
}
