.reportinfo-wrapper {
  width: 860px;
  height: 660px;
  background: #1c1c1c;
  margin: 20px auto;
  font-weight: 500;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    z-index: 1;
    position: absolute;
    top: -50%;
    left: -50%;
    width: 860px;
    height: 660px;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    animation: animate 6s linear infinite;
  }
  &:after {
    content: '';
    z-index: 1;
    position: absolute;
    top: -50%;
    left: -50%;
    width: 860px;
    height: 660px;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    animation: animate 6s linear infinite;
    animation-delay: -3s;
  }
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  form {
    position: absolute;
    inset: 3px;
    background: #28292d;
    padding: 10px 60px;
    border-radius: 10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    font-weight: 400px;
    textarea {
      font-family: 'Roboro Serif';
      font-size: 1rem;
    }
  }
}

@media (max-width: 1024px) {
  .reportinfo-wrapper {
    width: 760px;
    &:before {
      width: 760px;
    }
    &:after {
      width: 760px;
    }
  }
}
@media (max-width: 768px) {
  .reportinfo-wrapper {
    width: 700px;
    &:before {
      width: 700px;
    }
    &:after {
      width: 700px;
    }
  }
}
@media (max-width: 480px) {
  .reportinfo-wrapper {
    width: var(--form-width-mobile);
    margin: 10px auto;
    &:before {
      width: var(--form-width-mobile)
    }
    &:after {
      width: var(--form-width-mobile)
    }
    form {
      padding: 10px 10px;
    }
  }
}
