.form-input {
  input {
    border-radius: var(--br-20);
    background: #fff;
    border: var(--border-input);
    box-shadow: inset 0 1px 2px #eee;
    &:focus {
      box-shadow: var(--box-shadow-input-focus);
      border-color: var(--border-color-input-focus);
    }
    &:hover {
      cursor: pointer;
    }
  }
}
