.form-input {
  input {
    border-radius: 30px;
    background: #fff;
    // border: var(--border-input);
    // box-shadow: inset 0 1px 2px #ADB5BD;
    &:focus {
      // box-shadow: var(--box-shadow-input-focus);
      border-color: var(--border-color-input-focus);
    }
    &:hover {
      cursor: pointer;
    }
  }
}
