.reportchart-wrapper {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 10px;
  font-size: 14px;
  margin-bottom: 20px;
  .recharts-layer {
    // background-color: #fff;
    .recharts-cartesian-axis-ticks {
      padding: 10px;
      margin-top: 10px;
    }
  }
  @media(max-width: 480px) {
    padding: 30px 0;
  }
}
