.memberitem-wrapper {
  margin: 8px 20px;
  img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    @media (max-width: 768) {
      width: 40px;
      height: 40px;
    }
  }
  a {
    color: inherit;
  }
  p {
    font-size: 0.9rem;
    font-style: italic;
  }
}