.members-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 60px 100px 20px;
  margin-bottom: 30px;
  justify-content: center;
  width: 100%;
  @media (max-width: 1266px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
    padding: 50px 30px 20px;
    gap: 20px;
  }
  .members-item {
    position: relative;
    display:flex;
    background: #25262b;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 10px 10px;
    margin-bottom: 50px;
    min-height: 285px;
    min-width: 320px;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #5C5F66;
    line-height: 2;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .6);
    ion-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 22px;
      border-radius: 50%;
      padding: 4px;
      display: block;
      background: #25262b;
      color: #25262b;
      &.hovered {
        color: #fff;
      }
      &:hover {
        background: #373A40;
      }
    }
    &:hover {
      cursor: pointer;
      border-color: #45f3ff;
    }
  }
}
.btn-purple{
  ion-icon{
    &.loading{
      animation: lds-dual-ring 1s linear infinite;
    }
    @keyframes lds-dual-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}