.member-form {
  height: 650px;
  width: var(--form-width);
  background: #1c1c1c;
  margin: 30px auto;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    z-index: 1;
    position: absolute;
    top: -50%;
    left: -50%;
    width: var(--form-width);
    height: 650px;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    animation: animate 6s linear infinite;
  }
  &:after {
    content: '';
    z-index: 1;
    position: absolute;
    top: -50%;
    left: -50%;
    width: var(--form-width);
    height: 650px;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    animation: animate 6s linear infinite;
    animation-delay: -3s;
  }
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  img {
    display: relative;
    margin: 1rem 0;
    max-width: 380px;
    max-height: 380px;
  }
  form {
    position: absolute;
    inset: 4px;
    background: #28292d;
    padding: 4px 80px;
    border-radius: 10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
    @media (max-width: 480px) {
      padding: 6px 12px;
    }
  }
  label {
    display: block;
    margin: 15px 0px 6px 12px;
    font-weight: 400;
    color: #45f3ff;
    font-size: 18px;
    span:last-child {
      color: #fff;
      font-style: oblique;
      font-size: 0.9rem;
    }
  }
  label {
    // color: #fff;
    // margin-top: 10px;
    // top: 0;
    // left: 6px;
    pointer-events: none;

  }
  input {
    width: 100%;
    padding: 0 20px;
    height: 2.5rem;
    font-size: 16px;
    font-weight: 400;
    border-radius: 30px;
    border: var(--border-input);
    box-shadow: inset 0 1px 2px #adb5bd;
    margin-bottom: 6px;
    &:focus {
      box-shadow: var(--box-shadow-input-focus);
      border-color: var(--border-color-input-focus);
    }
  }
  textarea {
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
  }
}
.member-form-imgpicker {
  z-index: 1;
  background-color: #fff;
  font-size: 1rem;
  position: relative;
  border-radius: var(--br-20);
  margin-bottom: 6px;
  height: 40px;
  input {
    border: var(--border-input);
    box-shadow: inset 0 1px 2px #adb5bd;
    background-color: transparent;
    border-radius: var(--br-20);
    padding: auto;
    font-size: 16px;
    &:focus {
      box-shadow: var(--box-shadow-input-focus);
      border-color: var(--border-color-input-focus);
    }
  }

  ion-icon {
    z-index: -1;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 12px;
    top: 44%;
    transform: translateY(-50%);
    color: #555151e5;
  }
}

.members-img {
  max-width: 386px;
  margin: 10px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  input {
    width: 50%;
    background-color: transparent;
    border-radius: var(--br-20);
    border: 1px solid #46e6fc;
    padding: auto;
    color: #46e6fc;
    font-size: 1rem;
    &:hover {
      color: #0B7285;
      border: 1.5px solid #05dcf8;
      background-color: #a6eaf3;
    }
  }
}
@media (max-width: 768px) {
  .member-form {
    width: var(--form-width-tablet);
    &:before {
      width: var(--form-width-tablet);
    }
    &:after {
      width: var(--form-width-tablet);
    }
  }
}
@media (max-width: 480px) {
  .member-form {
    width: var(--form-width-mobile);
    margin: 20px auto;
    font-size: 1rem;
    &:before {
      width: var(--form-width-mobile);
    }
    &:after {
      width: var(--form-width-mobile);
    }
  }
}
