.member-form {
  width: var(--form-width);
  margin: 20px auto;
  font-weight: 200;
  @media (max-width: 768px) {
    width: var(--form-width-tablet);
  }
  @media (max-width: 480px) {
    width: var(--form-width-mobile);
    margin: 10px auto;
    font-size: 1rem;
  }
  img {
    display: relative;
    margin: 1rem 0;
    max-width: 380px;
    max-height: 380px;
    @media (max-width: 480px) {
      padding-left: -8px;
      margin-left: -8px;
    }
  }

  label {
    span:last-child {
      color: #000;
      font-style: oblique;
      font-size: 1rem;
    }
  }
}
.member-form-imgpicker {
  z-index: 1;
  background-color: #fff;
  font-size: 1rem;
  position: relative;
  border-radius: var(--br-20);
  height: 40px;
  input {
    border: var(--border-input);
    box-shadow: inset 0 1px 2px #adb5bd;
    background-color: transparent;
    border-radius: var(--br-20);
    padding: auto;
    &:focus {
      box-shadow: var(--box-shadow-input-focus);
      border-color: var(--border-color-input-focus);
    }
  }

  ion-icon {
    z-index: -1;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 12px;
    top: 44%;
    transform: translateY(-50%);
    color: #555151e5;
  }
}

.members-img {
  max-width: 390px;
  margin: 10px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  input {
    width: 50%;
    background-color: transparent;
    border-radius: var(--br-20);
    border: 1px solid #46e6fc;
    padding: auto;
    color: #46e6fc;
    font-size: 1rem;
    &:hover {
      color: #fff;
      border: 1.5px solid #05dcf8;
      background-color: #a6eaf3;
    }
  }
}
