.layout-wrapper {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  // overflow-x: hidden;
  background: #141517;
  // background-image: radial-gradient(
  //   white 0%,
  //   white 30%,
  //   transparent 80%,
  //   transparent
  // );
  overflow-y: scroll;
}

.layout-container {
  position: relative;
  left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
  min-height: 100vh;
  transition: 0.5s;
  margin-bottom: var(--footer-height);
  overflow: hidden;
  @media (max-width: 1366px) {
    width: 100%;
    left: 0;
  }
  &.active {
    left: 0;
    left: var(--sidebar-width);
    @media (max-width: 480px) {
      //  z-index: 8;
    }
  }
  .circle-container {
    z-index: 100;
    $particleNum: 200;
    $particleColor: hsl(180, 100%, 80%);
    position: absolute;
    transform: translateY(-10vh);
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    .circle {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      mix-blend-mode: screen;
      background-image: radial-gradient(
        hsl(180, 100%, 80%),
        hsl(180, 100%, 80%) 10%,
        hsla(180, 100%, 80%, 0) 56%
      );

      animation: fadein-frames 200ms infinite, scale-frames 2s infinite;

      @keyframes fade-frames {
        0% {
          opacity: 1;
        }

        50% {
          opacity: 0.7;
        }

        100% {
          opacity: 1;
        }
      }

      @keyframes scale-frames {
        0% {
          transform: scale3d(0.4, 0.4, 1);
        }

        50% {
          transform: scale3d(2.2, 2.2, 1);
        }

        100% {
          transform: scale3d(0.4, 0.4, 1);
        }
      }
    }

    $particleBaseSize: 8;
    @for $i from 1 through $particleNum {
      &:nth-child(#{$i}) {
        $circleSize: random($particleBaseSize);
        width: $circleSize + px;
        height: $circleSize + px;

        $startPositionY: random(10) + 100;
        $framesName: 'move-frames-' + $i;
        $moveDuration: 28000 + random(9000) + ms;

        animation-name: #{$framesName};
        animation-duration: $moveDuration;
        animation-delay: random(37000) + ms;

        @keyframes #{$framesName} {
          from {
            transform: translate3d(random(100) + vw, $startPositionY + vh, 0);
          }

          to {
            transform: translate3d(
              random(100) + vw,
              -$startPositionY - random(30) + vh,
              0
            );
          }
        }

        .circle {
          animation-delay: random(3000) + ms;
        }
      }
    }
  }
  // }
}

.layout-content {
  background: var(--layout-bg-color);
  // opacity: 0.8;
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  width: 100%;
  min-height: 100vh;
  z-index: 2;
  @media (max-width: 480px) {
    padding: 66px 2px 0px 2px;
  }
}

@media (max-width: 480px) {
  .layout-container {
    width: 100vw;
  }
}
