.layout-wrapper {
  position: relative;
  min-height: 100%;
  width: 100vw;
  // overflow-x: hidden;
  background: #141517;
  overflow-y: scroll;
}

.layout-container {
  position: relative;
  left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
  min-height: 100vh;
  background: #141517;
  transition: 0.5s;
  // overflow-x: hidden;
  margin-bottom: var(--footer-height);
  overflow-y: hidden;
  @media (max-width: 1024px) {
    width: 100%;
    left: 0;
  }
  // &::-webkit-scrollbar {
  //   display: none;
  // }
  &.active {
    left: 0;
    left: var(--sidebar-width);
  }
}

.layout-content {
  background: #141517;
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  width: 100%;
  // height: auto;
  min-height: 100vh;
  z-index: 2;
  @media (max-width: 480px) {
    padding: 56px 2px 0px 2px;
  }
}
@media (max-width: 1024px) {
  // .layout-wrapper {
  //   display: flex;
  //   flex-direction: column;
  // }
  // .layout-container {
  // display: flex;
  // width: 100vw;
  // height: 100%;
  // flex-direction: column-reverse;
  // position: relative;
  // overflow: hidden;
  // margin-bottom: 80px;
}
// .layout-sidebar {
//   background: #fff;
//   width: 100%;
//   height: 80px;
//   margin-top: -80px;
//   position: fixed;
//   bottom: 0;
//   z-index: 99;
//   box-shadow: 0px -2px 1px rgba(10, 10, 10, 0.671);
// }
//   .layout-content {
//     overflow-y: scroll;
//     overflow-x: hidden;
//   }
// }

@media (max-width: 480px) {
  .layout-container {
    width: 100vw;
  }
}
