.activities-wrapper {
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .activities-header {
    height: 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-left: -8px;

    ion-icon {
      padding-right: 2px;
      font-size: 1.2rem;
    }
    @media (max-width: 480px) {
      height: 45px;
    }
  }

  table {
    width: 100%;
    counter-reset: rowNumber 1;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 0 4px 2px -2px gray;
  }
    img {
      width: 180px;
      height: 100px;
      padding-top: 5px;
      @media (max-height: 920px) {
        height: 48px;
      }
      @media (max-width: 480px) {
        width: 62px;
        height: 56px;
      }
    }

  // table tr:first-child th:first-child {
  //   border-top-left-radius: 18px;
  // }
  // table tr:first-child th:last-child {
  //   border-top-right-radius: 18px;
  // }
  table tr:not(:first-child) {
    counter-increment: rowNumber;
  }

  table tr td:first-child::before {
    content: counter(rowNumber);
  }
  th,
  td {
    padding-left: 6px;
    border: 1px solid #dee2e6;
    @media (max-width: 480px) {
      padding-left: 2px;
    }
  }
  th {
    height: 40px;
    // font-family: 'Dancing Script', cursive;
    font-weight: 300;
    font-size: 0.9rem;
    text-align: left;
    background-color: var(--bg-active);
    // color: #fff;
    // background-color: #343A40;
    @media (min-width: 480px) {
      font-size: 1.4rem;
    }
  }

  tr {
    &:nth-child(2n) {
      background-color: #f2f2f2;
    }
    &:nth-child(2n + 1) {
      background-color: #fff;
    }
    th,
    td:nth-last-child(2) {
      border-right: none;
    }
    th,
    td:last-child {
      border-left: none;
    }
  }

  tr td:first-child,th:first-child {
    @media (max-width: 480px) {
      display:none;
    }
  }
  nav {
    display: flex;
    justify-content: space-evenly;
  }
  nav:last-child {
    ion-icon {
      border-radius: 50%;
      background-color: transparent;
      width: 20px;
      height: 20px;
      padding-right: 2px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .activities-pagination {
    // height: 40px;
    width: 100%;
    // margin-bottom: 10px;
    margin-top: 14px;
    button {
      font-family: 'Dancing Script', cursive;
      border: 0.5px solid #ced4da;
    }
  }
}
