.menu-item {
  font-weight: 300;
  transition: background-color ease-in-out 300ms;
  height: 50px;
  // background-color: #fff;
  // background-color: #C5F6FA;
  color: #3f3c3c;
  @media (max-width: 480px) {
    font-size: 0.7rem;
  }
  ion-icon {
    color: #3f3c3c;
    font-size: 1.4rem;
    padding: 0 20px;
    @media (max-width: 480px) {
      font-size: 1.2rem;
    }
  }

  a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &:hover {
    background-color: var(--bg-hover);
  }
  .active-link {
    background-color: var(--bg-active);
    color: black;
    font-weight: 500;
    ion-icon {
      color: black;
    }
  }
}
@media (max-width: 1024px) {
  .menu-item {
    width: 300px;
    height: 100%;
    a {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

