.menu-item {
  font-weight: 300;
  transition: background-color ease-in-out 300ms;
  height: 50px;
  background-color: #fff;
  color: #3f3c3c;
  ion-icon {
    color: #3f3c3c;
  }
  .menu-icon {
    padding-left: 20px;
    padding-right: 30px;
  }
  a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &:hover {
    background-color: var(--bg-hover);
  }
  .active-link {
    background-color: var(--bg-active);
    color: black;
    font-weight: 500;
    ion-icon {
      color: black;
      font-weight: 700;
    }
  }
}
