.attendanced-activity {
  // color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 390px;
  margin-top: 30px;
  gap: 30px;
  line-height: 2;
  padding: 0 40px 40px;
  @media(max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 30px 40px;
  }
  @media(max-width: 480px) {
    padding: 0 10px 40px;
  }
  table{
    background: var(--layout-bg-color);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0 , .7);
    tr{
      td:last-child{
        text-align: center;
      }
    }
    tr:first-child {
      color: #A61E4D;
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
  .Present {
    color: #0000ff;
  }
  .Absent {
    color: #e03131;
  }
}
