.members-table {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .members-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -8px;
    margin-bottom: 8px;
    ion-icon {
      padding: 2px 6px 2px 0;
      transform: translateY(-5%);
    }
  }

  img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    @media (max-width: 480px) {
      width: 30px;
      height: 30px;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 10px;
    @media (max-width: 480px) {
      width: 408px;
    }
    @media (max-width: 400px) {
      padding: 0;
      top: 26px;
      width: 386px;
    }

    ion-icon {
      border: 0.5px solid rgb(177, 172, 172);
      border-radius: 50%;
      background-color: rgba(233, 247, 247, 0.925);
      width: 50px;
      height: 50px;
      @media (max-width: 480px) {
        width: 30px;
        height: 30px;
      }
    }
  }
  table tr:first-child th:first-child {
    border-top-left-radius: 10px;
    @media (max-width: 480px) {
      border-top-left-radius: 0;
    }
  }
  table tr:first-child th:last-child {
    border-top-right-radius: 10px;
    @media (max-width: 480px) {
      border-top-right-radius: 0;
    }
  }
  // table tr:first-child th:nth-last-child(4) {
  //   @media (max-width: 480px) {
  //     border-top-right-radius: 10px;
  //   }
  // }
  table tr:not(:first-child) {
    counter-increment: rowNumber;
  }
  td,
  th {
    padding: 5px;
    color: black;
    text-align: left;
    vertical-align: center;
    border-style: hidden;

    @media (max-width: 480px) {
      padding: 5px 1px;
    }
  }
  th {
    // background-color: #343a40;
    background-color: var(--bg-active);
    // color: #fff;
    font-weight: 300;
    font-size: 0.8rem;
    // font-family: 'Dancing Script', cursive;
    @media (min-width: 480px) {
      font-size: 1.4rem;
    }
  }
  tr {
    &:nth-child(2n) {
      background-color: #e9ecef;
    }
    &:nth-child(2n + 1) {
      background-color: #fff;
    }
  }

  td:last-child,
  td:nth-last-child(2) {
    ion-icon {
      position: relative;
      background-color: transparent;
      width: 18px;
      height: 16px;
      border-style: none;
      transform: translateY(-5%);
      padding-right: 2px;
    }
  }

  th:nth-last-child(2),
  td:nth-last-child(2),
  th:nth-last-child(3),
  td:nth-last-child(3) {
    // th:last-child,
    // td:last-child {
    @media (max-width: 480px) {
      display: none;
    }
  }
  .members-pagination {
    width: 100%;
    margin-top: 10px;

    button {
      border: 0.5px solid #adb5bd;
      font-family: 'Dancing Script', cursive;
    }
  }
}
