.members-wrapper {
  .members-item {
    button {
      &.button-inline-icon {
        position: absolute;
        display: none;
        bottom: 10px;
        background: none;
        color: #f03e3e;
        ion-icon {
          display: inline-block;
          position: relative;
          top: 0;
          right: 0;
          border: 1px solid #f03e3e;
          &:hover {
            background: #f03e3e;
            color: #fff;
          }
        }
      }
      &.hovered {
        display: block;
      }
    }
  }
}
