.manager-questions {
  // background: #fff;
  max-width: 32em;
  border-radius: 10px;
  margin: 40px auto;
  // padding: 20px 40px 40px;
  @media (min-width: 480px) {
    max-width:  40em;
  }
  @media (min-width: 769px) {
    max-width:  50em;
  }
  .manager-questions-item {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 6px, rgba(0, 0, 0, 0.7) 0px 3px 16px;
    text-align: left;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.5;
    background: #74C0FC;
    color: #000;
    margin-top: 30px;
    h4 {
      margin-left: 20px;
    }
    ion-icon {
      position: absolute;
      right: 20px;
      top: 8px;
      font-size: 24px;
      padding: 6px;
      color: #74C0FC;
      border-radius: 50%;
      transition: 0.5s;
      cursor: pointer;
      display: block;
      &.hover {
        color: #000;
      }
      &:hover {
        background: #4DABF7;
        transform: scale(1.1);
      }
    }
  }
  // p:nth-child(1) {
  //   color: #1864AB;
  // }
  // p:nth-child(2) {
  //   color: #F59F00
  //   ;
  // }
  // p:nth-child(3) {
  //   color: #D6336C;
  // }
}
