.upcomingActivities-wrapper {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
  grid-gap: 20px;
  background: rgb(188, 241, 239);
  border-radius: 10px;
  box-shadow: inset 0 -10px 10px -10px #000000;
  margin-bottom: 80px;
  // grid-auto-flow: row;
  // align-self: center;
  // background: linear-gradient( to right, #3fa1ec,#48b1bf);
  .activity-item {
    position: relative;
    background: transparent;
    // background: linear-gradient( to right, #1864AB,#48b1bf);
    padding: 10px 10px 20px;
    border-radius: 20px;
    min-height: 200px;
    // max-width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    border: 2px solid #7266b9;
    transition: all .4s;
    // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    &:hover {
      transform: scale(1.02);
      transition: 0.5s;
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    }
    .name {
      font-size: 1.8em;
      font-weight: 500;
      // color: #fff;
    }
    .date {
      font-size: 1.3em;
      // margin-right: 20px;
      margin-bottom: 6px;
    }
    .time {
      // margin-right: 20px;
      font-size: 1.1em;
    }
    .attendance-btn {
      display: none;
      position: absolute;
      left: 10px;
      bottom: 18px;
      font-size: 14px;
      color: #0000ff;
      border: 1px solid #0ae0f0;
      box-shadow: 0 3px 10px rgb(78, 209, 241);
      border-radius: 30px;
      transition: 0.5s;
      padding: 4px 10px;
      align-items: center;
      ion-icon {
        font-size: 20px;
        margin-left: 8px;
      }
      &:hover {
        cursor: pointer;
        transform: translateX(8px);
      }
      &.hovered {
        display: flex;
        background: #45f3ff;
      }
    }
  }
  .attendance-wrapper {
    box-shadow: none;
  }
}

@media (max-width: 1024px) {
  .upcomingActivities-wrapper {
    grid-template-columns: repeat(2, 1fr);
    .activity-item {
      padding: 4px 10px 10px 10px;
    }
  }
}
@media (max-width: 768px) {
  .upcomingActivities-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
