.upcomingActivities-wrapper {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  background: #C1C2C5;
  border-radius: 10px;
  box-shadow: inset 0 -10px 10px -10px #000000;
  // align-self: center;
  // background: linear-gradient( to right, #185a9d,#48b1bf);
  .activity-item {
    position: relative;
    background: #fff;
    background: linear-gradient( to right, #1A1B1E,#909296);
    padding: 10px 40px 10px 20px;
    border-radius: 20px;
    min-height: 200px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    // align-content: space-between;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    &:hover {
      transform: scale(1.01);
      transition: 0.5s;
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    }
    .name {
      font-size: 1.8em;
      font-weight: 500;
      color: #fff;
    }
    .date {
      font-size: 1.4em;
      // margin-right: 20px;
      margin-bottom: 6px;
    }
    .time {
      // margin-right: 20px;
      font-size: 1.2em;
    }
    .attendance-btn {
      display: none;
      position: absolute;
      left: 18px;
      bottom: 18px;
      font-size: 10px;
      border: 1px solid #0ae0f0;
      box-shadow: 0 3px 10px rgb(78, 209, 241);
      border-radius: 10px;
      transition: 0.5s;
      padding: 4px;
      align-items: center;
      ion-icon {
        font-size: 14px;
        // transform: translateY(26%);
        margin-left: 4px;
      }
      &:hover {
        cursor: pointer;
        transform: translateX(12px);
      }
      &.hovered {
        display: flex;
        background: #45f3ff;
      }
    }
  }
  .attendance-wrapper {
    box-shadow: none;
  }
}

@media (max-width: 1024px) {
  .upcomingActivities-wrapper {
    grid-template-columns: repeat(2, 1fr);
    .activity-item {
      padding: 4px 10px 10px 10px;
    }
  }
}
@media (max-width: 768px) {
  .upcomingActivities-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
