.memberAttendance-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // align-items: center;
  text-align: center;
  box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 20px;
  // width: 100%;
  min-height: 1250px;
  min-width: 400px;
  background: #fff;
  font-weight: 500;
  .mantine-Group-root {
    padding: 10px;
    border-top: 1px solid #0000ff;
    &:nth-child(2n) {
      background-color: #f2f2f2;
    }
    &:hover {
      background: #9fcbf5;
    }
  }
  .member-maxPresent {
    min-width: 360px;
    margin: 0 auto;
    span:first-child,
    ion-icon {
      font-size: 36px;
      color: #0000ff;
      // margin-bottom: 10px;
    }
    span {
      color: #0000ff;
      margin-bottom: 10px;
      font-size: 20px;
    }
  }
  .member-minPresent {
    min-width: 360px;
    margin: 0 auto;
    .mantine-Group-root {
      border-top: 1px solid #ff6b6b;
      &:hover {
        background: #ff6b6b;
      }
    }
    span:first-child,
    ion-icon {
      font-size: 36px;
      color: red;
    }
    span {
      color: red;
      font-size: 20px;
    }
  }
  ion-icon {
    margin-left: 20px;
    position: relative;
    transform: translateY(12%);
  }
}
