.home-wrapper {
  padding: 10px 140px 60px;
  z-index: 2;
  position: relative;
  height: auto;
  @media (max-width: 768px) {
    padding: 10px;
  }
  @media (max-width: 480px) {
    padding: 4px 2px 0;
  }
}
.home-leader {
  z-index: 1;
  position: relative;
  border-radius: 10px;
  padding: 10px 25px 0;
  margin-bottom: 40px;
  @media (max-width: 480px) {
    padding: 4px;
    text-align: center;
  }

  .home-leader-view {
    position: relative;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 80px;
    height: auto;
    @media (max-width: 1600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.home-manager {
  width: 100%;
  z-index: 2;
  padding: 10px 25px 0;
  .home-manager-quarterPicker {
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    max-width: 400px;
    height: 40px;
    border: 1px solid #ff6ec4;
    border-radius: 20px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.8);
    z-index: 3;
    input {
      background: transparent;
      color: #fff;
      position: relative;
      width: calc(100% - 140px);
      width: 100%;
      height: 40px;
      text-align: center;
      font-weight: 500;
    }
    button,
    input {
      &:hover {
        cursor: pointer;
        transform: scale(0.98);
      }
    }
    .react-datepicker,
    .react-datepicker__header {
      font-size: 22px;
    }
  }
}
