.btn_wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;


  &.large {
    background-color: bisque;
    max-height: 50px;
    padding: 14px 16px;
    min-width: 140px;
    font-size: 3rem;
  }

  &:hover {
  background-color: #3182ce;
  color: #fff;
  }
}
