.activity-form {
  width: var(--form-width);
  margin: 20px auto;
  font-weight: 200;

  @media (max-width: 480px) {
    width: var(--form-width-mobile);
    margin: 6px auto;
    font-size: 1rem;
  }
}
