.modal-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  form {
    margin-top: -10px;
    box-shadow: none;
    input {
      font-size: 16px;
      color: #fff;
      padding-left: 10px;
    }
    .mantine-InputWrapper-root {
      max-height: 38px;
    }
    .inputLogin {
      position: relative;
      background: transparent;
      border-bottom: 2px solid #fff;
      margin-top: 40px;
      font-size: 20px;
      label {
        position: absolute;
        color: #fff;
        margin-top: 10px;
        top: 0;
        left: 6px;
        pointer-events: none;
        transition: 0.5s;
        &.focus {
          top: -30px;
          left: 0;
          color: #dd5e89;
          font-size: 14px;
        }
      }
      .mantine-TextInput-error {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
    .btn-purple {
      margin-top: 50px;
      color: #fff;
      border: 2px solid #dd5e89;
      width: 100%;
      font-weight: 500;
      height: 40px;
      font-size: 20px;
      max-height: 40px;
      button:last-child {
        color: inherit;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.login-with-google-btn {
  margin: 0 auto;
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 60%;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px -2px 1px rgba(0, 0, 0, 0.04), 1px 1px 2px rgba(0, 0, 0, 0.25);

  color: #333232;
  font-size: 16px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 12px 11px;

  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    background-color: #cc2b5e;
    color: #fff;
  }

  &:active {
    background-color: #cc2b5e;
  }

  &:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
      0 0 0 3px #cc2b5e;
  }
}
