.header-menu-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  ion-icon {
    font-size: 1.6rem;
  }

  .mantine-Menu-dropdown {
    @media(max-width: 480px) {
      width: 240px;
    }
    button {
      width: 100%;
      display: block;
      // flex-direction: row;
      // align-items: center;
      // justify-content: center;
      padding: 4px 30px 10px 2px;
      // margin: 4px 0;
      // margin-left: -10px;
      // margin-right: -10px;
      ion-icon {
        transform: translateY(15%);
        padding-right: 8px;
        font-size: 1.2rem;
      }
      &:last-child {
        padding-left: 4px;
        &:hover {
          background-color: #FFC9C9;
          color: red;
        }
      }
    }
  }
}
