.reports-wrapper {
  width: auto;
  margin: 30px 30px 40px;
  min-height: 100%;
  nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    a {
      padding: 2px 6px 6px;
      ion-icon {
        padding-right: 8px;
        font-size: 1.2rem;
      }
    }
  }
  .reports-select-month {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0;
    color: #fff;
    .react-datepicker-wrapper {
      width: 160px;
      margin-left: 50px;
      background-color: #fff;
      border-radius: 20px;
    }
  }
  input {
    width: 100%;
    padding-left: 20px;
    height: 2.5rem;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid rgb(143, 142, 142);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    appearance: none;
    background: transparent;
    background-image: linear-gradient(45deg, transparent 50%, #495057 50%),
      linear-gradient(135deg, #343a40 50%, transparent 50%),
      linear-gradient(to right, #868e96, #868e96);
    background-position: calc(100% - 26px) calc(1em + 1px),
      calc(100% - 19px) calc(1em + 1px), calc(100% - 2.8em) 0.22em;
    background-size: 7px 7px, 7px 7px, 1px 1.8em;
    background-repeat: no-repeat;
    &:focus {
      background-image: linear-gradient(45deg, #2c2e33 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, #2c2e33 50%),
        linear-gradient(to right, #495057, #495057);
      background-position: calc(100% - 19px) 1em, calc(100% - 26px) 1em,
        calc(100% - 2.8em) 0.22em;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
