@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  overflow-y: overlay;
  line-height: normal;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto Serif', serif;
  font-size: calc(1rem + ((1vw - 13.6px) * 0.39));
  text-rendering: optimizeSpeed;
}
#redwood-app {
  width: 100%;
  height: 100%;
}
::-webkit-scrollbar {
  width: 8px;
  @media (max-width: 768px) {
    width: 0px;
  }
}
::-webkit-scrollbar-track {
  background-color: var(--mantine-color-dark-8);
}
::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 67%);
  border-radius: 20px;
  border: 0px solid transparent;
  background-clip: padding-box;
  height: 56px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

button,
input,
textarea,
select,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.text-center {
  text-align: center;
  font-weight: 400;
  color: #46e6fc;
  margin-top: 20px;
}
.text-title {
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 36px;
  margin: 0 0 40px 20px;
  @media (max-width: 480px) {
    font-size: 24px;
    margin: 0 28px 30px;
  }
  &:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -20px;
    width: 10px;
    height: 10px;
    border-left: 5px solid #fff;
    border-top: 5px solid #fff;
  }
  &:after {
    content: '';
    position: absolute;
    right: -22px;
    bottom: -5px;
    width: 10px;
    height: 10px;
    border-right: 5px solid #fff;
    border-bottom: 5px solid #fff;
  }
}

.link {
  color: var(--color-link);
}
.form-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 38px;
  margin-top: 30px;
  button {
    height: 40px;
    font-size: 20px;
    position: relative;
    padding: 8px 30px;
    background: #050801;
    color: #46e6fc;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    letter-spacing: 1px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    &:hover {
      cursor: pointer;
      background-color: #03e9f4;
      color: #fff;
      box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
        0 0 150px #03e9f4;
    }
    span {
      font-weight: 500;
      ion-icon {
        padding-left: 8px;
        font-size: 24px;
      }
    }
  }
}
.btn-purple {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #faa2c1;
  padding: 10px 30px;
  border-radius: 5px;
  position: relative;
  font-size: 22px;
  font-weight: 500;
  background-image: linear-gradient(to right, #A61E4D, #c03b69);
  color: #fff;
  margin: 30px auto;
  transition: ease-out 0.5s;
  z-index: 1;
  line-height: normal;
  ion-icon{
    margin-right: 8px;
    font-size: 28px;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    background-image: linear-gradient(to right, #c2255c, #faa2c1);
    opacity: 0;
    transition: 0.5s all ease;
  }
  &:hover {
    cursor: pointer;
    transition: ease-out 0.5s;
    &:before {
      transition: 0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
      z-index: -1;
    }
  }
}

.btn-cyan {
  padding: 6px 12px;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  background: #4543ff;
  background-image: linear-gradient(to left, transparent 50%, #fff 50%);
  background-size: 200%;
  background-position: 100%;
  border: 1px solid #4543ff;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  line-height: normal;
  ion-icon{
    margin-right: 6px;
    font-size: 26px;
  }
  &:hover {
    background-position: 0%;
    color: #4543ff;
    cursor: pointer;
  }
}
.btn-upload {
    position: relative;
    max-width: 380px;
    width: 320px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4543ff;
    font-weight: 500;
    font-size: 20px;
    margin: 30px auto;
    border: 1px solid #4543ff;
    border-radius: 5px;
    ion-icon {
      font-size: 24px;
      margin-right: 10px;
    }
    &:hover {
      cursor: pointer;
      color: #fff;
      background: #4543ff;
    }
}
.inline-button {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.3rem 1rem;
  text-decoration: none;
  letter-spacing: 0.025em;
  border-radius: 16px;
  line-height: normal;
  @media screen and (max-width: 768px) {
    // padding-right: 0.4rem;
    letter-spacing: 0;
    font-weight: 500;
    font-size: 0.8rem;
  }
  &.inline-button-small {
    margin-left: 10px;
    border-radius: 16px;
  }
  &.inline-button-blue {
    background-color: #fff;
    color: #3182ce;
    border: 1.5px solid #3182ce;
    ion-icon{
      font-size: 20px;
      margin-left: 6px;
    }
  }
  &.inline-button-green {
    border: 1.5px solid #48bb78;
    background-color: #fff;
    color: #2b8a3e;
  }
  &.inline-button-red {
    background-color: #fff;
    color: #e53e3e;
    border: 1.5px solid #e53e3e;
  }

  &:hover {
    color: #fff;
  }
}

.inline-button.inline-button-green:hover {
  background-color: #8ce99a;
  color: #fff;
  border-color: #fff;
}
.inline-button.inline-button-blue:hover {
  border-color: #fff;
  background-color: #3182ce;
  color: #fff;
}

.inline-button.inline-button-red:hover {
  background-color: #c53030;
  color: #fff;
}

.error {
  color: red;
}
ion-icon {
  &:hover {
    cursor: pointer;
  }
}
