// @import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  // height: 100vh;
  font-size: 16px;
}
body {
  overflow-y: overlay;
  line-height: normal;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto Serif', serif;
  font-size: calc(1rem + ((1vw - 13.6px) * 0.39));
  text-rendering: optimizeSpeed;
}
#redwood-app {
  width: 100%;
  height: 100%;
}
::-webkit-scrollbar {
  width: 8px;
  // background-color: #23242a;
  // z-index: 1;
  @media (max-width: 768px) {
    width: 0px;
  }
}
::-webkit-scrollbar-track {
  background-color: var(--mantine-color-dark-8);
}
::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 67%);
  border-radius: 20px;
  border: 0px solid transparent;
  background-clip: padding-box;
  height: 56px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

button,
input,
select,
[tabindex] {
  outline: none;
  border: none;
}

// select {
//   margin-right: 10px;
//   background-color: transparent;
//   border: var(--border-input);
//   box-shadow: inset 0 1px 2px #eee;
//   font-size: 1rem;
//   border-radius: var(--br-20);
//   appearance: none;
//   background: transparent;
//   background-image: linear-gradient(45deg, transparent 50%, #495057 50%),
//     linear-gradient(135deg, #343A40 50%, transparent 50%),
//     linear-gradient(to right, #ccc, #ccc);
//   background-position: calc(100% - 20px) calc(1em + 2px),
//     calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
//   background-size: 5px 5px, 5px 5px, 1px 1.5em;
//   background-repeat: no-repeat;
//   &:focus {
//     box-shadow: var(--box-shadow-input-focus);
//     border-color: var(--border-color-input-focus);
//     background-image: linear-gradient(45deg, #2C2E33 50%, transparent 50%),
//       linear-gradient(135deg, transparent 50%, #2C2E33 50%),
//       linear-gradient(to right, #ccc, #ccc);
//     background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
//       calc(100% - 2.5em) 0.5em;
//     background-size: 5px 5px, 5px 5px, 1px 1.5em;
//     background-repeat: no-repeat;
//   }
// }
// select:required:invalid {
//   color: gray;
// }
// option[value=''][disabled] {
//   display: none;
// }
// option {
//   color: black;
// }
a[href] {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.text-center {
  text-align: center;
  font-weight: 400;
  color: #46e6fc;
}

.link {
  color: var(--color-link);
}
.form-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 38px;
  margin-top: 30px;
  button {
    font-size: 20px;
    position: relative;
    padding: 8px 30px;
    background: #050801;
    color: #46e6fc;
    border-radius: 30px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 1px;
    height: auto;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    &:hover {
      cursor: pointer;
      background-color: #03e9f4;
      color: #fff;
      box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
        0 0 150px #03e9f4;
    }
    span {
      font-weight: 400;
      font-size: 20px;
      ion-icon {
        padding-left: 8px;
      }
    }
  }
}
.btn-purple {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FAA2C1;
  width: 30%;
  padding: 10px 30px;
  border-radius: 5px;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  background-image: linear-gradient(to right, #FAA2C1, #C2255C);
  color: #000;
  letter-spacing: 1px;
  margin: 30px auto;
  transition: ease-out 0.5s;
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    background-image: linear-gradient(to right, #C2255C, #FAA2C1);
    opacity: 0;
    transition: 0.5s all ease;
  }
  &:hover {
    cursor: pointer;
    transition: ease-out 0.5s;
    &:before {
      transition: 0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
      z-index: -1;
    }
  }
}

.btn-cyan {
  padding: 8px 22px;
  border-radius: 6px;
  color: #04848d;
  font-size: 20px;
  font-weight: 500;
  background: #fff;
  background-image: linear-gradient(to left, transparent 50%, #3BC9DB 50%);
  background-size: 200%;
  background-position: 100%;
  transition: 0.5s;
  border: 2px solid #48b1bf;
  display: flex;
  justify-content: center;
  &:hover {
    background-position: 0%;
    color: #fff;
    cursor: pointer;
  }
}
.inline-button {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.1rem 0.6rem;
  text-decoration: none;
  letter-spacing: 0.025em;
  font-family: 'Dancing Script', cursive;
  border-radius: 16px;
  @media screen and (max-width: 768px) {
    padding-right: 0.4rem;
    letter-spacing: 0;
    font-weight: 500;
    font-size: 0.8rem;
  }
  &.inline-button-small {
    margin-left: 10px;
    border-radius: 16px;
    line-height: normal;
  }
  &.inline-button-blue {
    background-color: #fff;
    color: #3182ce;
    border: 1.5px solid #3182ce;
  }
  &.inline-button-green {
    border: 1.5px solid #48bb78;
    background-color: #fff;
    color: #2b8a3e;
  }
  &.inline-button-red {
    background-color: #fff;
    color: #e53e3e;
    border: 1.5px solid #e53e3e;
  }

  &:hover {
    color: #fff;
  }
}

.inline-button.inline-button-green:hover {
  background-color: #8ce99a;
  color: #fff;
  border-color: #fff;
}
.inline-button.inline-button-blue:hover {
  border-color: #fff;
  background-color: #99e9f2;
  color: #fff;
}

.inline-button.inline-button-red:hover {
  background-color: #c53030;
  color: #fff;
}

.error {
  color: red;
}
ion-icon{
  &:hover {
    cursor: pointer;
  }
}