:root {
  --border-input: 1px solid #dfe1e5;
  --box-shadow-input-focus: 0 1px 7px rgb(32 33 36 / 28%);
  --border-color-input-focus: rgba(223, 225, 229, 0);

  --color-primary: rgba(140, 222, 247, 0.267);

  --color-boder: rgb(10, 3, 73);
  --color-placeholder: rgb(32, 32, 34);
  --color-text: #555555;
  --color-link: rgb(78, 67, 235);

  --bg-hover: #eee;
  --bg-input: rgba(1, 1, 2, 0.842);
  --bg-active: rgba(22, 24, 35, 0.2);

  --br-20: 20px;
  --br-10: 10px;
  --br-5: 5px;

  --mg-30: 30px;
  --mg-20: 20px;
  --mg-10: 10px;

  --pd-30: 30px;
  --pd-20: 20px;
  --pd-10: 10px;
  --pd-5: 5px;

  --search-border-radius: 20px;
  --search-btn-width: 50px;
  --search-width: 600px;
  --sidebar-width: 250px;
  --header-height: 80px;
}