:root {
  --color-primary: rgba(140, 222, 247, 0.267);

  --color-boder: rgb(10, 3, 73);
  --color-placeholder: rgb(32, 32, 34);
  --color-text: #555555;
  --color-link: rgb(78, 67, 235);

  --background-hover: rgba(12, 30, 172, 0.05);
  --bg-input: rgba(22, 24, 35, 0.06);

  --br-20: 20px;
  --br-10: 10px;
  --br-5: 5px;

  --mg-10: 10px;

  --pd-10: 10px;
}