
:root {
  --border-input: 1px solid transparent;
  --box-shadow-input-focus: 1px 2px 5px #12d1eb;
  --border-color-input-focus: rgba(105, 106, 109, 0);

  --color-primary: #45f3ff;

  --color-boder: rgb(10, 3, 73);
  --color-placeholder: rgb(32, 32, 34);
  --color-text: #555555;
  --color-link: rgb(78, 67, 235);

  --bg-hover: #eee;
  --bg-input: rgba(1, 1, 2, 0.842);
  --bg-active: rgba(22, 24, 35, 0.2);

  --form-width: 700px;
  --form-width-tablet: 560px;
  --form-width-mobile: 398px;

  --search-border-radius: 30px;
  --search-btn-width: 50px;
  --search-width: 600px;
  --sidebar-width: 300px;

  --header-height: 80px;
  --header-height-mobile: 50px;

  --footer-height: 160px;

  --mobile-width: 480px;
  --tablet-width: 768px;
  --tablet-landscape: 1024px;
  --laptop-width: 1366px;
  --destop-width: 1680;


  --font-lobster: 'Lobster Two', cursive;
  --font-dancing-script: 'Dancing Script', cursive;
  --font-great-vibes: 'Great Vibes', cursive;
  --font-qwigley: 'Qwigley', cursive;

  --layout-bg-color: #021027;

}