
:root {
  --border-input: 1px solid #CED4DA;
  --box-shadow-input-focus: 0 1px 7px rgb(32 33 36 / 28%);
  --border-color-input-focus: rgba(105, 106, 109, 0);

  --color-primary: rgba(140, 222, 247, 0.267);

  --color-boder: rgb(10, 3, 73);
  --color-placeholder: rgb(32, 32, 34);
  --color-text: #555555;
  --color-link: rgb(78, 67, 235);

  --bg-hover: #eee;
  --bg-input: rgba(1, 1, 2, 0.842);
  --bg-active: rgba(22, 24, 35, 0.2);

  --br-form-input: 18px;
  --br-20: 18px;
  --br-10: 10px;
  --br-5: 5px;

  --mg-30: 30px;
  --mg-20: 20px;
  --mg-10: 10px;

  --pd-30: 30px;
  --pd-20: 20px;
  --pd-10: 10px;
  --pd-5: 5px;

  --form-width: 700px;
  --form-width-tablet: 560px;
  --form-width-mobile: 398px;

  --search-border-radius: 30px;
  --search-btn-width: 50px;
  --search-width: 600px;
  --sidebar-width: 300px;

  --header-height: 80px;
  --header-height-mobile: 50px;

  --footer-height: 160px;

  --mobile-width: 480px;
  --tablet-width: 768px;
  --tablet-landscape: 1024px;
  --laptop-width: 1366px;
  --destop-width: 1680;


  --font-lobster: 'Lobster Two', cursive;
  --font-dancing-script: 'Dancing Script', cursive;
  --font-great-vibes: 'Great Vibes', cursive;
  --font-qwigley: 'Qwigley', cursive;
}