.export-wrapper {
  padding: 20px 12px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #74C0FC;
  max-width: 31em;
  border-radius: 10px;
  margin: 20px 8px;
  @media (min-width: 480px) {
    margin: 20px auto;
    padding: 20px 40px 40px;
    max-width: 40em;
  }
  @media (min-width: 769px) {
    padding: 20px 60px 40px;
    max-width: 55em;
  }

  h2,
  h3,
  h4 {
    margin-bottom: 10px;
  }
  p{
    margin-top: 20px;
  }
  .export-questions, .export-answers {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px 0;
    line-height: 1.6;
    width: 100%;
  }
  button.btn-cyan {
    margin-top: 40px;
    ion-icon {
      margin-left: 12px;
    }
  }
  // p:nth-child(2) {
  //   color: #fff;
  // }
  // p:nth-child(3) {
  //   color: #f59f00;
  // }
  // p:nth-child(4) {
  //   color: #d6336c;
  // }
}

.datepicker-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 380px;
  input {
    text-align: center;
    width: 100%;
    height: 2.5rem;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid rgb(238, 223, 223);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 6px, rgba(0, 0, 0, 0.6) 0px 3px 6px;
    appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #495057 50%),
      linear-gradient(135deg, #343a40 50%, transparent 50%),
      linear-gradient(to right, #868e96, #868e96);
    background-position: calc(100% - 26px) calc(1em + 1px),
      calc(100% - 19px) calc(1em + 1px), calc(100% - 2.8em) 0.22em;
    background-size: 7px 7px, 7px 7px, 1px 1.8em;
    background-repeat: no-repeat;
    &:focus {
      // box-shadow: var(--box-shadow-input-focus);
      // border-color: var(--border-color-input-focus);
      background-image: linear-gradient(45deg, #2c2e33 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, #2c2e33 50%),
        linear-gradient(to right, #495057, #495057);
      background-position: calc(100% - 19px) 1em, calc(100% - 26px) 1em,
        calc(100% - 2.8em) 0.22em;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .react-datepicker,
    .react-datepicker__header {
      font-size: 20px;
    }
  @media (max-width: 768px) {
    width: 340px;
  }
}
