.form-select {
  input[type='search'] {
    height: 2.5rem;
    padding: 10px 20px;
    border-radius: 20px;
    background: #fff;
    border: var(--border-input);
    box-shadow: inset 0 1px 2px #ADB5BD;
    appearance: none;
    background: transparent;
    background-image: linear-gradient(45deg, transparent 50%, #495057 50%),
      linear-gradient(135deg, #343a40 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    &:focus {
      box-shadow: var(--box-shadow-input-focus);
      border-color: var(--border-color-input-focus);
      background-image: linear-gradient(45deg, #2c2e33 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, #2c2e33 50%),
        linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
    }
  }
  svg {
    display: none;
  }
}
