.edit-avatar-wrapper {
  color: #2c2e33;
  display: flex;
  flex-direction: column;
  position: relative;
  input[type='file'] {
    position: relative;
    max-width: 380px;
    width: 300px;
    height: 40px;
    text-align: center;
    color: #fff;
    background: #fff;
    font-weight: 500;
    font-size: 16px;
    margin: 0 auto 30px;
    border: 1px solid #4543ff;
    border-radius: 5px;
    &::-webkit-file-upload-button {
      opacity: 0;
      width: 10px;
      height: 100%;
    }
    &:before {
      content: 'Select Picture';
      position: absolute;
      color: #4543ff;
      left: 50%;
      top: 25%;
      transform: translate(-50%);
    }
    &:valid {
      color: #4543ff;
      &:before {
        display: none;
      }
    }
    &:hover {
      cursor: pointer;
      color: #4543ff;
      background: #4543ff;
      &:before {
        color: #fff;
      }
      &:valid{
        color: #fff;
      }
    }
  }
}
